* {
  font-family: Montserrat, sans-serif;
}

body {
  height: 100vh;
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: var(--dark-purple);
}

.container {
  width: 100%;
  margin: 0;
  padding: 20px 0;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header h1 {
  text-align: center;
}

/* Main Content */
main {
  display: flex;
  gap: 40px;
}

/* Graficele */
.left-right-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.left-chart {
  margin-bottom: 20px;
}

.right-chart {
  margin-bottom: 20px;
}

/* Diagramele */
.radial-charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border: 3px solid var(--paynes-gray);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.radial-charts h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Table */
footer {
  margin-top: 30px;
}

#customersTableContainer {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

#customersTable {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--antiflash-white);
}

#customersTable th, #customersTable td {
   border: 1px solid var(--paynes-gray);
  padding: 8px;
  text-align: left;
}

#customersTable th { /* cap tabel */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--dark-purple);
  color: var(--periwinkle);
}

#customersTable tr:hover {
    background-color: var(--space-cadet);
}

/* Color Palette */
:root {
  --dark-purple: #32213aff;
  --space-cadet: #383b53ff;
  --paynes-gray: #66717eff;
  --antiflash-white: #e7ecefff;
  --periwinkle: #c6d8ffff;
}
